<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Calibration</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <script src="/static/js/plotly-latest.min.js"></script>

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    
    <style>
    .isInvalidInput {
        background-color: #ffdddd;
    }
    </style>

</head>

<body>

    <div class="container mt-3">

        <h1 class="text-center">Calibration Menu</h1>

        <p class="text-center">

            <button onclick="newData();" class="btn btn-primary">Take Data</button>

        </p>

    </div>

    <div class="container">

        <p class="text-center">

            <button onclick="getBlackSpectra();" class="btn btn-secondary">Save as Black</button>

            <button onclick="getWhiteSpectra();" class="btn btn-secondary">Save as White</button>

        </p>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <form id="numberForm1" class="form-group p-3">
                    <div class="text-center">Current value: <span id="integration-time"></span></div>
                    <input type="text" class="form-control" id="numberInput1" aria-describedby="numberHelp" placeholder="Milliseconds (default 100ms)">
                    <small id="numberHelp" class="form-text text-muted">Limits: [1.56 to 6000 ms]</small>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="col-lg-4">
                <form id="numberForm2" class="form-group p-3">
                    <div class="text-center">Current value: <span id="average"></span></div>
                    <input type="text" class="form-control" id="numberInput2" aria-describedby="numberHelp" placeholder="Scans to average">
                    <small id="numberHelp" class="form-text text-muted">Minimum: 1</small>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="col-lg-4">
                <form id="numberForm3" class="form-group p-3">
                    <div class="text-center">Current value: <span id="boxcar"></span></div>
                    <input type="text" class="form-control" id="numberInput3" aria-describedby="numberHelp" placeholder="Boxcar pixels for filter">
                    <small id="numberHelp" class="form-text text-muted">Minimum: 0</small>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>

    <div id="graph" style="width:100%; height:500px;"></div>

    <p class="text-end">
        <a href="/" class="btn btn-primary">Go to Configuration</a>
        <a href="/calculos" class="btn btn-primary">Go to Calculations</a>
    </p>

    <script>
        let spectraDataUpdater;
        let spectraDataForGraph;

        function startUpdatingSpectraData() {
            spectraDataUpdater = setInterval(() => {
                const spectraData = {{ spectra_data|tojson }};

                const wavelengthRange = spectraData.wavelength_range;
                const spectra = spectraData.spectra;

                updateGlobalVariables(wavelengthRange, spectra);

                spectraDataForGraph = { wavelengthRange, spectra };
            }, 500); 
            console.log("Update")
        }

        function stopUpdatingSpectraData() {
            clearInterval(spectraDataUpdater);
        }

        function updateGlobalVariables(wavelengthRange, spectra) {
            window.wavelengthRangeGlobal = wavelengthRange;
            window.spectraGlobal = spectra;
        }

        function showGraph() {
            //stopUpdatingSpectraData();
        
            const spectraData = {{ spectra_data|tojson }};
        
            const wavelengthRange = spectraData.wavelength_range;
            const spectra = spectraData.spectra;
        
            const trace = {
                x: wavelengthRange,
                y: spectra,
                type: 'scatter'
            };
        
            const layout = {
                title: 'Data Taken',
                xaxis: {
                    title: 'Wavelength Range'
                },
                yaxis: {
                    title: 'Spectra'
                }
            };
        
            Plotly.newPlot('graph', [trace], layout);
        
            setTimeout(startUpdatingSpectraData, 1000);
        }

        function getBlackSpectra() {
            const spectraData = {{ spectra_data|tojson }};

            const wavelengthRange = spectraData.wavelength_range;
            const blackSpectra = spectraData.spectra;

            const trace = {
                x: wavelengthRange,
                y: blackSpectra,
                type: 'scatter'
            };

            const layout = {
                title: 'Black saved successfully',
                xaxis: {
                    title: 'Wavelength Range'
                },
                yaxis: {
                    title: 'Spectra'
                }
            };

            Plotly.newPlot('graph', [trace], layout);

            $.ajax({
                url: '/update_black_spectra_data',
                type: 'POST',
                data: JSON.stringify(blackSpectra),
                contentType: 'application/json',
                success: function(response) {
                    console.log(blackSpectra);
                    console.log('Black spectra data updated successfully');
                },
                error: function(error) {
                    console.error('Error updating black spectra data:', error);
                }
            });
        }
        
        function newData() {
            location.reload();
        }

        function getWhiteSpectra() {
            const spectraData = {{ spectra_data|tojson }};

            const wavelengthRange = spectraData.wavelength_range;
            const whiteSpectra = spectraData.spectra;

            const trace = {
                x: wavelengthRange,
                y: whiteSpectra,
                type: 'scatter'
            };

            const layout = {
                title: 'White saved successfully',
                xaxis: {
                    title: 'Wavelength Range'
                },
                yaxis: {
                    title: 'Spectra'
                }
            };

            Plotly.newPlot('graph', [trace], layout);

            $.ajax({
                url: '/update_white_spectra_data',
                type: 'POST',
                data: JSON.stringify(whiteSpectra),
                contentType: 'application/json',
                success: function(response) {
                    console.log(whiteSpectra);
                    console.log('White spectra data updated successfully');
                },
                error: function(error) {
                    console.error('Error updating white spectra data:', error);
                }
            });
        }
        
        function updateSavedDataCal() {
            $.ajax({
                url: '/get-updated-data-cal',
                type: 'GET',
                success: function(response) {
                    $('#integration-time').text(response.integrationTime);
                    $('#boxcar').text(response.BoxcarWidth);
                    $('#average').text(response.AverageScans);
                    
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        
        function isValidNumber(input_value){
            if(!input_value || isNaN(input_value)){
                return false;
            }
            return true;
        }
        
        function modifyInvalidClass(input_element, add = true){
            if(add){
                input_element.classList.add("isInvalidInput");
                return;
            }                
            input_element.classList.remove("isInvalidInput");
        }
        
        document.getElementById('numberForm1').addEventListener('submit', function(event) {
            event.preventDefault(); 
            const input1 = document.getElementById('numberInput1');
            let enteredNumber1 = input1.value;
            console.log(enteredNumber1);
            if(!isValidNumber(enteredNumber1) || enteredNumber1 < 1.56 || enteredNumber1 > 6000){
                console.log("Invalid number");
                modifyInvalidClass(input1);
                return;
            }
            $.ajax({
                url: '/new_integration_time',
                type: 'POST',
                data: JSON.stringify(enteredNumber1),
                contentType: 'application/json',
                success: function(response) {
                    console.log(enteredNumber1);
                    console.log('Integration time updated');
                    modifyInvalidClass(input1, false);
                },
                error: function(error) {
                    console.error('Error updating white spectra data:', error);
                }
            })
        });
        
        document.getElementById('numberForm2').addEventListener('submit', function(event) {
            event.preventDefault();
            const input2 = document.getElementById('numberInput2');
            let enteredNumber2 = input2.value;
            if(!isValidNumber(enteredNumber2)  || enteredNumber2 < 1){
                console.log("Invalid number");
                modifyInvalidClass(input2);
                return;
            }
            $.ajax({
                url: '/new_average',
                type: 'POST',
                data: JSON.stringify(enteredNumber2),
                contentType: 'application/json',
                success: function(response) {
                    console.log(enteredNumber2);
                    modifyInvalidClass(input2, false);
                    console.log('Average scans updated');
                },
                error: function(error) {
                    console.error('Error updating white spectra data:', error);
                }
            })
        });
        
        document.getElementById('numberForm3').addEventListener('submit', function(event) {
            event.preventDefault(); 
            const input3 = document.getElementById('numberInput3');
            let enteredNumber3 = input3.value;
            if(!isValidNumber(enteredNumber3) || enteredNumber3 < 0){
                console.log("Invalid number");
                modifyInvalidClass(input3);
                return;
            }
            $.ajax({
                url: '/new_boxcar',
                type: 'POST',
                data: JSON.stringify(enteredNumber3),
                contentType: 'application/json',
                success: function(response) {
                    console.log(enteredNumber3);
                    modifyInvalidClass(input3, false);
                    console.log('Boxcar width updated');
                },
                error: function(error) {
                    console.error('Error updating white spectra data:', error);
                }
            })
        });
        setInterval(updateSavedDataCal, 500);
        window.onload = showGraph;
    </script>
</body>
</html>
