<!DOCTYPE html>
<!--feef-->
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DroneTools</title>

    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/jquery-3.6.0.min.js"></script>

    <style>

        .circle {

            width: 50px;

            height: 50px;

            border-radius: 50%;

            background-color: #007bff;

            display: flex;

            justify-content: center;

            align-items: center;

            color: white;

        }



        .color-rect {

            height: 10px;

            border: 1px solid #000;

        }



        .flex-center {

            display: flex;

            justify-content: center;

            align-items: center;

            gap: 10px;

        }

        .small-text {

            font-size: 14px;

        }

        .status-container {

            display: flex;

            justify-content: space-around;

            margin-bottom: 20px;

        }

        .custom-margin {

            margin: 20px;

            background-color: #ffffff;

            padding: 20px; 

        }

    </style>

</head>

<body>

    <div class="container mt-5">

        <h1 class="text-center">Configuration Page</h1>

        <p class="text-center">

            <a href="/calibration" class="btn btn-primary">Calibration</a>
            <a href="/calculations" class="btn btn-primary">Calculations</a>
        </p>

        <div class="custom-margin">

        </div>

        <div class="row">

            <div class="col-md-4">

                <h3>Variable Selection</h3>

                <form id="checkbox-form">

                    <!--
                    <input type="hidden" name="names" value="">
                    -->

                    {% for checkbox in checkboxes %}

                        <div class="form-check mb-3">

                            <input type="checkbox" id="{{ checkbox.name }}" name="names" value="{{ checkbox.name }}" {% if checkbox.checked %}checked{% endif %}>

                            <label for="{{ checkbox.name }}" class="form-check-label">{{ checkbox.name }}</label><br>

                        </div>

                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Save Selection</button>

                </form>

                <div class="container mt-4">

                  <div class="row">

                    <div class="col-md-12">

                      <div class="card">

                        <div class="card-body">

                          <h5 class="card-title">Selection Details</h5>

                          <p class="card-text">

                            <strong>Initial Wavelength in Use:</strong> <span id="rangoi" class="text-primary"></span>

                          </p>

                          <p class="card-text">

                            <strong>Final Wavelength in Use:</strong> <span id="rangof" class="text-primary"></span>

                          </p>

                          <p class="card-text">

                            <strong>Variables in Use:</strong> <span id="var_sel" class="text-primary"></span>

                          </p>
                          <p class="card-text">
                            <strong>Selected File Name:</strong> <span id="selectedFileName" class="text-primary"></span>
                          </p>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

            </div>

            <div class="col-md-4">

                <form method="POST" action="/filter" class="text-center">

                    <select name="option1" id="option1" onchange="validateRange()" class="mb-2">

                        {% for item in desplegables %}

                            <option value="{{ item }}" {% if item == option1 %} selected {% endif %}>{{ item }}</option>

                        {% endfor %}

                    </select>

                    <select name="option2" id="option2" onchange="validateRange()" class="mb-2">

                        {% for item in desplegables %}

                            <option value="{{ item }}" {% if item == option2 %} selected {% endif %}>{{ item }}</option>

                        {% endfor %}

                    </select>

                    <button type="button" class="btn btn-primary mx-auto d-block mb-3" id="submit-button" onclick="updateFilter()">Update Filter</button>

                </form>

                <div class="text-center mb-3">

                    <button id="start-recording" class="btn btn-primary mx-auto d-block">Start Recording</button>

                </div>
                
                <div class="text-center mb-3">
                    
                    <button id="save-configuration-button"  class="btn btn-primary mx-auto d-block">Save Configuration</button>
                
                </div>
                
                <div class="text-center mb-3">
                    
                    <button id="default-button"  class="btn btn-primary mx-auto d-block">Default Values</button>
                
                </div>

                <div class="text-center mb-3">

                    <button id="clear-csv-btn" class="btn btn-primary mx-auto d-block">Clear Database</button>

                </div>

                <form action="/download_csv" method="get" class="text-center mb-3">

                    <button type="submit" class="btn btn-primary mx-auto d-block">Download Data</button>

                </form>                
    
                <form id="saveIntervalForm" class="text-center">

                    <div class="form-group p-3">

                        <input type="text" class="form-control" id="numberInput" aria-describedby="numberHelp" placeholder="Save interval in seconds">

                        <small id="numberHelp" class="form-text text-muted">Minimum: 0.2 seconds</small>

                        <input type="text" class="form-control" id="input_canula" aria-describedby="numberHelp" placeholder="Canula distance in cm, minimum 30 cm">

                    </div>

                    <button type="submit" class="btn btn-primary mx-auto d-block">Update</button>

                </form>

                <div class="text-center">Number of Records: <span id="saved-data"></span></div>
                <div class="text-center">Canula Distance (cm): <span id="span_canula_length"> {{length_canula_cm}}</span></div>
                <div class="text-center">Save Interval (s): <span id="save-interval"></span></div>

                <div class="text-center">Camera Integration Time (ms): <span id="integration-time"></span></div>

                <button type="button" class="btn mx-auto d-block" data-bs-toggle="tooltip" data-bs-placement="top" title="A save time close to the minimum can lead to delays in some readings. The camera's integration time also affects the save time"></button>

                <div class="text-center">⚠</div>

            </div>

            <div class="col-md-4">

                <h3 class="text-center">Status Lights</h3>

                <div class="status-container">

                    <div class="flex-center">

                        <div id="circle" class="circle"></div>

                        <div class="text-start">GPS Status</div>

                    </div>

                    <div class="flex-center">

                        <div id="circle2" class="circle"></div>

                        <div class="text-start">Camera Status</div>

                    </div>

                </div>

                  <div class="col text-center">
                      
                    <div class="col text-center">
                        
                            <div class="fw-bold">Date:</div>

                            <div id="date" data-key="date"></div>
                    </div>
                    
                    <div class="col text-center">
                        
                            <div class="fw-bold">Time (UTC):</div>
                            

                            <div id="time" data-key="time"></div>
                            
                    </div>
                    
                    <div class="row p-3">

                        <div class="fw-bold">GPS Precision</div>

                    </div>

                    <div class="row">

                        <div class="col text-center align-self-center">

                            <div class="">Longitude Deviation</div>

                            <div id="error_E" data-key="error_E"></div>

                        </div>

                        <div class="col text-center align-self-center">

                            <div class="">Latitude Deviation</div>

                            <div id="error_N" data-key="error_N"></div>

                        </div>

                        <div class="col text-center align-self-center">

                            <div class="">Altitude Deviation</div>

                            <div id="error_U" data-key="error_U"></div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-4 color-rect" id="rect11"></div>

                        <div class="col-4 color-rect" id="rect12"></div>

                        <div class="col-4 color-rect" id="rect13"></div>

                    </div>

                    <div class="row">

                        <div class="col-4 color-rect" id="rect21"></div>

                        <div class="col-4 color-rect" id="rect22"></div>

                        <div class="col-4 color-rect" id="rect23"></div>

                    </div>

                    <div class="row">

                        <div class="col-4 color-rect" id="rect31"></div>

                        <div class="col-4 color-rect" id="rect32"></div>

                        <div class="col-4 color-rect" id="rect33"></div>

                    </div>

                    <div class="row">

                        <div class="col-4 color-rect" id="rect41"></div>

                        <div class="col-4 color-rect" id="rect42"></div>

                        <div class="col-4 color-rect" id="rect43"></div>

                    </div>

                    <div class="row">

                        <div class="col-4 color-rect" id="rect51"></div>

                        <div class="col-4 color-rect" id="rect52"></div>

                        <div class="col-4 color-rect" id="rect53"></div>

                    </div>

                    <div class="row">

                        <div class="col-4 color-rect" id="rect61"></div>

                        <div class="col-4 color-rect" id="rect62"></div>

                        <div class="col-4 color-rect" id="rect63"></div>

                    </div>

                    <div class="row">

                        <div class="col-4 text-center">

                            <div class="fw-bold">Longitude:</div>

                            <div id="longitude" class="small-text" data-key="longitude"></div>

                        </div>

                        <div class="col-4 text-center">

                            <div class="fw-bold">Latitude:</div>

                            <div id="latitude" class="small-text" data-key="latitude"></div>

                        </div>

                        <div class="col-4 text-center">

                            <div class="fw-bold">Altitude:</div>

                            <div id="altitude" class="small-text" data-key="altitude"></div>

                        </div>

                    </div>

                </div>

                <form id="createCsvForm">

                    <input type="text" id="fileName" name="fileName" placeholder="CSV File Name" required>

                    <button type="submit">Create File</button>

                </form>

                <select id="csvFileSelector">

                    <option>Select a CSV file</option>

                </select>

                <button id="deleteButton">Delete Selected CSV File</button>

                <div id="filtered-data" class="mt-3 text-start"></div>

            </div>

        </div>

    </div>

    <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->

    <script>

        const canula_distance_input = document.getElementById('input_canula');
        
        const span_current_canula_length = document.getElementById('span_canula_length');
        
        const span_saved_data = document.getElementById('saved-data');
        
        const span_range_start = document.getElementById('rangoi');
        
        const span_range_end = document.getElementById('rangof');
        
        const span_save_interval = document.getElementById('save-interval');
        
        const span_integration_time = document.getElementById('integration-time');
        
        const span_selected_variables = document.getElementById('var_sel');
        
        const select_range_start = document.getElementById('option1');
        
        const select_range_end = document.getElementById('option2');
                
        const margin1 = 0.01;
        const margin2 = 2;
        const margin3 = 4;
        const margin4 = 6;
        const margin5 = 10;
        const margin6 = 20;

        const dark_green = "#006400"
        const green = "#008000"
        const light_green = "#00FF00"
        const yellow = "#FFD700"
        const orange = "#FFA500"
        const red = "#FF0000"
        const white = "#FFFFFF"

        const contentElement5 = document.getElementById('altitude');
        const contentElement6 = document.getElementById('latitude');
        const contentElement7 = document.getElementById('longitude');

        const contentElement9 = document.getElementById('error_N');
        const contentElement10 = document.getElementById('error_E');
        const contentElement11 = document.getElementById('error_U');
        
        function updateUIElementsContent(response){
            span_saved_data.textContent = response.dataSaved;
            
            span_current_canula_length.textContent = response.current_canula_value;
            
            span_save_interval.textContent = response.saveTime;
            
            span_integration_time.textContent = response.integrationTime;
            
            span_range_start.textContent = response.rangeStart;
            
            span_range_end.textContent = response.rangeEnd;
            
            span_selected_variables.textContent = response.selected_vars;
        }
        
        function resetUIElementsDefaultValues(default_values){            
            span_current_canula_length.textContent = default_values.length_canula_cm;
            
            span_range_start.textContent = default_values.range_start;
            
            span_range_end.textContent = default_values.range_end;
            
            span_save_interval.textContent = default_values.save_time;
            
            span_integration_time.textContent = default_values.integration_time;
            
            select_range_start.value = default_values.range_start;
             
            select_range_end.value = default_values.range_end;
        }
        
        function drawServerReceivedMessage(message, isError=false){
            const div_notice = document.getElementById('filtered-data');
            div_notice.textContent = message;
            div_notice.classList.add("alert");
            let alert_type = "alert-success";
            if(isError){
                alert_type = "alert-warning";
            }
            div_notice.classList.add(alert_type);
            setTimeout(function() {
                    div_notice.textContent  = "";
                    div_notice.classList.remove("alert");
                    div_notice.classList.remove(alert_type);
            }, 3000);
        }

        function fetchAndUpdateSelectedFile() {
            console.log("FetchAndUpdateSelectedFiles")
            fetch('/get_selected_file')
            .then(response => response.json())
            .then(data => {
                if (data.fileName) {
                    document.getElementById('selectedFileName').textContent = data.fileName;
                    document.getElementById('csvFileSelector').value = data.fileName;
                }
            })
            .catch(error => console.error('Error:', error));
        }
        
        document.addEventListener('DOMContentLoaded', function() {
            console.log("DOM CONTENT LOADED EVENT TRIGGER: List Files")
            fetch('/list_csv_files')

                .then(response => response.json())

                .then(csvFiles => {

                    const selector = document.getElementById('csvFileSelector');

                    csvFiles.forEach(file => {

                        const option = document.createElement('option');

                        option.value = file;

                        option.textContent = file;

                        selector.appendChild(option);

                    });
                    
                    fetchAndUpdateSelectedFile();
                    
                })

                .catch(error => console.error('Error listing CSV files:', error));

        });
        
        function addFileToDropdown(fileName) {

            const dropdown = document.getElementById('csvFileSelector');

            const newOption = document.createElement('option');

            newOption.value = fileName;

            newOption.textContent = fileName;

            dropdown.appendChild(newOption);
            
            dropdown.value = fileName;
            document.getElementById('selectedFileName').textContent = fileName;
        }

        document.getElementById('createCsvForm').addEventListener('submit', function(e) {

            e.preventDefault();

            var fileName = document.getElementById('fileName').value;

            if (fileName.length === 0) {

                alert('Please enter a file name.');

                return;

            }

            fetch('/create_csv', {

                method: 'POST',

                headers: {

                    'Content-Type': 'application/json',

                },

                body: JSON.stringify({ fileName: fileName }),

            })
            .then(response => response.json())
            .then(data => {

                console.log(data);

                alert(data.message);

                if(data.message && data.message.includes('created successfully')) {

                    addFileToDropdown(fileName + ".csv");

                }

            })
            .catch((error) => {

                console.error('Error:', error);

            });
        });
        
        document.getElementById('default-button').addEventListener('click', function(){
            fetch('/default_values', {method: 'POST'})
            .then(response => response.json())
            .then(response => {
                console.log(response.default_values);
                resetUIElementsDefaultValues(response.default_values);
                drawServerReceivedMessage(response.message);
            }).catch(error => console.error('Error resetting to default values: ', error))
        });
        
        document.getElementById('save-configuration-button').addEventListener('click', function(){
            fetch('/save_configuration', {method:'POST'})
            .then(response => {
                if(response.status != 200) throw new Error('Error trying to save configuration parameters')
                return response.json()
            }).then(response => drawServerReceivedMessage(response.message))
            .catch(error => {
                console.error(error);
                drawServerReceivedMessage('Error trying to save configuration parameters', true);
            })
        });
        
        document.getElementById('csvFileSelector').addEventListener('change', function() {
            const selectedFile = this.value;
            console.log('Selected CSV file:', selectedFile);
            fetch('/select_csv', {

                method: 'POST',

                headers: {

                    'Content-Type': 'application/json',

                },

                body: JSON.stringify({fileName: selectedFile}),

            })

            .then(response => response.json())

            .then(data => {
                console.log(data)
                document.getElementById('selectedFileName').textContent = data.current_selected_file
            })
        });

        document.getElementById('deleteButton').addEventListener('click', function() {

            const selectedFile = document.getElementById('csvFileSelector').value;

            if (selectedFile) {

                fetch('/delete_csv', {

                    method: 'POST',

                    headers: {

                        'Content-Type': 'application/json',

                    },

                    body: JSON.stringify({ fileName: selectedFile }),

                })

                .then(response => response.json())

                .then(data => {

                    console.log(data.message);

                    document.getElementById('csvFileSelector').remove(document.getElementById('csvFileSelector').selectedIndex);

                    alert(data.message);

                })

                .catch(error => console.error('Error:', error));

            } else {

                alert('Please select a CSV file to delete.');

            }

        });

        function updateDataElements(data) {

            document.querySelectorAll('[data-key]').forEach((element) => {

                const key = element.getAttribute('data-key');

                if (data[key] !== undefined) {

                    if (key.startsWith('error')) {

                        element.innerText = `${data[key]} m`;

                    } else if (key === 'date' || key === 'time') {
                        
                        element.innerText = data[key];
                        
                    } else {

                        element.innerText = `${data[key]} ${key === 'altitude' ? 'm' : 'º'}`;

                    }

                }

            });

        }    
        
        document.getElementById('saveIntervalForm').addEventListener('submit', function(event) {
            event.preventDefault(); 
            let enteredNumber = document.getElementById('numberInput').value;
            let canula_distance_value = canula_distance_input.value;
            if(!enteredNumber || !canula_distance_value || isNaN(enteredNumber) || isNaN(canula_distance_value)
            || enteredNumber < 0.2 || canula_distance_value < 30){
                    drawServerReceivedMessage("You must enter a correct value for the interval and distance", true);
                    return;
            } 
            const data = [enteredNumber, canula_distance_value]
            fetch('/save_time', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(response => {
                drawServerReceivedMessage(response.filtered_data);
                span_current_canula_length.textContent = response.current_canula_value
            })
            .catch(error => {console.error('Error updating white spectra data:', error);})
            
        });

        function gpsDataColors() {

            var rect11 = document.getElementById("rect11");

            var rect21 = document.getElementById("rect21");

            var rect31 = document.getElementById("rect31");

            var rect41 = document.getElementById("rect41");

            var rect51 = document.getElementById("rect51");

            var rect61 = document.getElementById("rect61");

            var rect12 = document.getElementById("rect12");

            var rect22 = document.getElementById("rect22");

            var rect32 = document.getElementById("rect32");

            var rect42 = document.getElementById("rect42");

            var rect52 = document.getElementById("rect52");

            var rect62 = document.getElementById("rect62");

            var rect13 = document.getElementById("rect13");

            var rect23 = document.getElementById("rect23");

            var rect33 = document.getElementById("rect33");

            var rect43 = document.getElementById("rect43");

            var rect53 = document.getElementById("rect53");

            var rect63 = document.getElementById("rect63");

            fetch('/datosGPS')

            .then(response => response.json())

            .then(data => {

                let error_latitude = data.error_N;

                let error_longitude = data.error_E;

                let error_altitude = data.error_U;

                let value_latitude = data.latitude;

                let value_longitude = data.longitude;

                let value_altitude = data.altitude;
                
                let date = data.date;
                
                let time = data.time;

                updateDataElements(data);

                if (data.error_N > margin1 && data.error_N <= margin2) {

                    rect12.style.backgroundColor = dark_green; 

                    rect22.style.backgroundColor = green;

                    rect32.style.backgroundColor = light_green; 

                    rect42.style.backgroundColor = yellow; 

                    rect52.style.backgroundColor = orange; 

                    rect62.style.backgroundColor = red; 

                } else if (data.error_N > margin2 && data.error_N <= margin3) {

                    rect12.style.backgroundColor = white; 

                    rect22.style.backgroundColor = green;

                    rect32.style.backgroundColor = light_green; 

                    rect42.style.backgroundColor = yellow; 

                    rect52.style.backgroundColor = orange; 

                    rect62.style.backgroundColor = red; 

                } else if (data.error_N > margin3 && data.error_N <= margin4) {

                    rect12.style.backgroundColor = white; 

                    rect22.style.backgroundColor = white;

                    rect32.style.backgroundColor = light_green; 

                    rect42.style.backgroundColor = yellow; 

                    rect52.style.backgroundColor = orange; 

                    rect62.style.backgroundColor = red; 

                } else if (data.error_N > margin4 && data.error_N <= margin5) {

                    rect12.style.backgroundColor = white; 

                    rect22.style.backgroundColor = white;

                    rect32.style.backgroundColor = white; 

                    rect42.style.backgroundColor = yellow; 

                    rect52.style.backgroundColor = orange; 

                    rect62.style.backgroundColor = red; 

                } else if (data.error_N > margin5 && data.error_N <= margin6) {

                    rect12.style.backgroundColor = white; 

                    rect22.style.backgroundColor = white;

                    rect32.style.backgroundColor = white; 

                    rect42.style.backgroundColor = white; 

                    rect52.style.backgroundColor = orange; 

                    rect62.style.backgroundColor = red; 

                } else {

                    rect12.style.backgroundColor = white; 

                    rect22.style.backgroundColor = white;

                    rect32.style.backgroundColor = white; 

                    rect42.style.backgroundColor = white; 

                    rect52.style.backgroundColor = white; 

                    rect62.style.backgroundColor = red; 

                }

                if (data.error_E > margin1 && data.error_E <= margin2) {

                    rect11.style.backgroundColor = dark_green; 

                    rect21.style.backgroundColor = green;

                    rect31.style.backgroundColor = light_green; 

                    rect41.style.backgroundColor = yellow; 

                    rect51.style.backgroundColor = orange; 

                    rect61.style.backgroundColor = red; 

                } else if (data.error_E > margin2 && data.error_E <= margin3) {

                    rect11.style.backgroundColor = white; 

                    rect21.style.backgroundColor = green;

                    rect31.style.backgroundColor = light_green; 

                    rect41.style.backgroundColor = yellow; 

                    rect51.style.backgroundColor = orange; 

                    rect61.style.backgroundColor = red; 

                } else if (data.error_E > margin3 && data.error_E <= margin4) {

                    rect11.style.backgroundColor = white; 

                    rect21.style.backgroundColor = white;

                    rect31.style.backgroundColor = light_green; 

                    rect41.style.backgroundColor = yellow; 

                    rect51.style.backgroundColor = orange; 

                    rect61.style.backgroundColor = red; 

                } else if (data.error_E > margin4 && data.error_E <= margin5) {

                    rect11.style.backgroundColor = white; 

                    rect21.style.backgroundColor = white;

                    rect31.style.backgroundColor = white; 

                    rect41.style.backgroundColor = yellow; 

                    rect51.style.backgroundColor = orange; 

                    rect61.style.backgroundColor = red; 

                } else if (data.error_E > margin5 && data.error_E <= margin6) {

                    rect11.style.backgroundColor = white; 

                    rect21.style.backgroundColor = white;

                    rect31.style.backgroundColor = white; 

                    rect41.style.backgroundColor = white; 

                    rect51.style.backgroundColor = orange; 

                    rect61.style.backgroundColor = red; 

                } else {

                    rect11.style.backgroundColor = white; 

                    rect21.style.backgroundColor = white;

                    rect31.style.backgroundColor = white; 

                    rect41.style.backgroundColor = white; 

                    rect51.style.backgroundColor = white; 

                    rect61.style.backgroundColor = red; 

                }

                if (data.error_U > margin1 && data.error_U <= margin2) {

                    rect13.style.backgroundColor = dark_green; 

                    rect23.style.backgroundColor = green;

                    rect33.style.backgroundColor = light_green; 

                    rect43.style.backgroundColor = yellow; 

                    rect53.style.backgroundColor = orange; 

                    rect63.style.backgroundColor = red; 

                } else if (data.error_U > margin2 && data.error_U <= margin3) {

                    rect13.style.backgroundColor = white; 

                    rect23.style.backgroundColor = green;

                    rect33.style.backgroundColor = light_green; 

                    rect43.style.backgroundColor = yellow; 

                    rect53.style.backgroundColor = orange; 

                    rect63.style.backgroundColor = red; 

                } else if (data.error_U > margin3 && data.error_U <= margin4) {

                    rect13.style.backgroundColor = white; 

                    rect23.style.backgroundColor = white;

                    rect33.style.backgroundColor = light_green; 

                    rect43.style.backgroundColor = yellow; 

                    rect53.style.backgroundColor = orange; 

                    rect63.style.backgroundColor = red; 

                } else if (data.error_U > margin4 && data.error_U <= margin5) {

                    rect13.style.backgroundColor = white; 

                    rect23.style.backgroundColor = white;

                    rect33.style.backgroundColor = white; 

                    rect43.style.backgroundColor = yellow; 

                    rect53.style.backgroundColor = orange; 

                    rect63.style.backgroundColor = red; 

                } else if (data.error_U > margin5 && data.error_U <= margin6) {

                    rect13.style.backgroundColor = white; 

                    rect23.style.backgroundColor = white;

                    rect33.style.backgroundColor = white; 

                    rect43.style.backgroundColor = white; 

                    rect53.style.backgroundColor = orange; 

                    rect63.style.backgroundColor = red; 

                } else {

                    rect13.style.backgroundColor = white; 

                    rect23.style.backgroundColor = white;

                    rect33.style.backgroundColor = white; 

                    rect43.style.backgroundColor = white; 

                    rect53.style.backgroundColor = white; 

                    rect63.style.backgroundColor = red; 

                }

            });

        }

        function updateColor() {

            fetch('/luz_gps')

                .then(response => response.json())

                .then(data => {

                    const color_gps = data.color_gps;

                    const color_spec = data.color_spec;

                    document.getElementById('circle').style.backgroundColor = color_gps;

                    document.getElementById('circle2').style.backgroundColor = color_spec;

                });

        }

        function validateRange() {

            var option1 = document.getElementById("option1");

            var option2 = document.getElementById("option2");

            var submitButton = document.getElementById("submit-button");

            if (parseFloat(option1.value) > parseFloat(option2.value)) {

                alert("Select a valid range");

                option1.selectedIndex = 0;

                option2.selectedIndex = option2.length - 1;

                submitButton.disabled = true;

            } else {

                submitButton.disabled = false;

            }

        }

        function updateFilter() {

            event.preventDefault();

            var option1 = document.getElementById('option1').value;

            var option2 = document.getElementById('option2').value;

            validateRange();

            fetch('/filter', {

                method: 'POST',

                headers: {

                    'Content-Type': 'application/x-www-form-urlencoded'

                },

                body: 'option1=' + option1 + '&option2=' + option2

            })

            .then(response => response.json())

            .then(data => {

                console.log(data.data);

                var filteredDataElement = document.getElementById('filtered-data');
                
                drawServerReceivedMessage('Wavelength range updated');

            })

            .catch(error => {

                console.error('Error:', error);

            });

        }

        $(document).ready(function() {

            $('#checkbox-form').on('submit', function(event) {

                event.preventDefault();

                $.ajax({

                    type: 'POST',

                    url: '/update_selected_variables',

                    data: $(this).serialize(),

                    success: function(response) {
                        console.log($(this).serialize());
                        
                        drawServerReceivedMessage(response.filtered_data);

                    },

                    error: function(xhr, status, error) {

                        console.error(error);

                    }

                });

            });

        });

        $(document).ready(function() {

            const $startRecording = $('#start-recording');

            function updateRecordingButtonText() {

                fetch('/get_recording_status')

                    .then(response => response.json())

                    .then(data => {

                        const isRecording = data.isRecording;

                        $startRecording.text(isRecording ? 'Pause Recording' : 'Start Recording');

                        $startRecording.data('recording', isRecording);
                                                
                        if(isRecording){
                            $startRecording.addClass("btn-danger");                            
                        }else
                            $startRecording.removeClass("btn-danger");                                    
                    })

                    .catch(error => {

                        console.error('Error:', error);

                    });

            }

            setInterval(updateRecordingButtonText, 500);

            $startRecording.on('click', function() {

                let isRecording = $(this).data('recording');

                $.ajax({

                    type: 'POST',

                    url: '/start_recording',

                    contentType: 'application/json',

                    data: JSON.stringify({ recording: !isRecording }),

                    success: function(response) {

                        console.log('Recording status changed');

                        updateRecordingButtonText();

                    },

                    error: function(xhr, status, error) {

                        console.error('Error changing recording status:', error);

                    }

                });

            });

        });

        function updateSavedData() {
            fetch('/get-updated-data')
            .then(res => res.json())
            .then(response => updateUIElementsContent(response))
            .catch(error => console.error(error))
        }
        
        document.getElementById('clear-csv-btn').addEventListener('click', function(event){
            fetch('/clearcsv', {method: 'POST'})
            .then(res  => res.json())
            .then(data => drawServerReceivedMessage(data.message))
            .catch(error => console.error(error))
        });

        setInterval(fetchAndUpdateSelectedFile, 700);

        setInterval(updateSavedData, 700);

        setInterval(updateColor, 500);

        setInterval(gpsDataColors, 500);
        
        window.onload = function() {
            gpsDataColors();
        };

    </script>

</body>

</html>
